.Rproj.user
.Rhistory
.RData
/.quarto/
docs
README.html
README_files
.Rbuildignore

_site/
_extensions/schochastics/
site_libs/

**/*.quarto_ipynb

_latex/
_typst/
gfx_old/
_cv_archive/
baumer_cv.typ
_data-raw/
